
<h1>L'association Soamada</h1>
<p>Vous avez reçu un nouveau message, voici le message</p>
{% block body %}
    {% for message in messages %}
        <h3>{{ message.titre }}</h3>
        <p>{{ message.nom }}</p>
        <p>{{ message.prenom }}</p>
        <p>{{ message.email }}</p>
        <p>{{ message.corps }}</p>
        {% endfor %}
{% endblock %}

