
<h1>Le journal mensuel de l'association Soamada</h1>
{% block body %}
{% for flash_message in app.session.flashBag.get('success') %}
<div class="alert alert-success flash-notice" role="alert">
{{ flash_message }}
</div>
{% endfor %}



{% for article in articles %}
<h2>{{ article.titre | raw  }}</h2>
<p id="auteur">Par {{ article.auteur | raw }} le {{ article.date|date("d/m/Y") | raw }}</p>
<p>{{ article.corps| raw  }}</p>
<img src="{{ asset('img/solidaire.jpg') | raw  }}"/>
{% endfor %}
{% endblock %}

