{% extends "base.html.twig" %}

{% block body %} 
{% for flash_message in app.session.flashBag.get('success') %}
<div class="alert alert-success flash-notice" role="alert">
{{ flash_message }}
</div>
{% endfor %}
<div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3 col-sm-12 col-xs-12">
<h1>Créer un article</h1>
    {{ form_start(form, {'method': 'post', 'action': path('assoc_creerarticles'), 'attr': {'class': 'form-group'}}) }}
    {{ form_widget(form) }}
    {{ form_row(form.auteur, {'attr': {'class': 'form-control', 'value': app.user.username }}) }}
    {{ form_row(form.date, {'attr': {'class': 'form-control', 'value': "now"|date("d/m/Y") }}) }}
    <div>
        <input type="submit" class="btn btn-primary" value="Créer un article" />
    </div>
     {{ form_end(form) }}
</div>
{% endblock %}