{% extends "::base.html.twig" %}
{% block body %}
    <section id="accueil">
        <article class="row">
            <h1 class="bienvenue">Bienvenue sur le site de l'association Soamada</h1>
            <p class="lead">L'association SOAMADA est une association humanitaire œuvrant à Madagascar pour venir en aide à des populations en difficulté sociales ou en situation d’urgence humanitaire. 
                Les actions vont du micro-crédit au soutien des cantines scolaires, en passant par la construction d’école, de sanitaires, etc.</p>
            <hr>
            <p>Si vous voulez plus d'information, cliquez en bas : </p>
            <p>
                <a class="btn btn-primary btn-lg" href="#nous" role="button">Plus d'informations</a>
            </p>
        </article>
    </section>
    <section id="nous">
        <article class="row">
            <div class="card mb-3">
                <h3 class="card-header">Qui sommes-nous ?</h3>
                <div class="card-body">
                    <h5 class="card-title">L'association Soamada est composé de Ruben Andriafehivolarisoa, représentant et son frère Elie Andriafehivolarisoa</h5>
                    <h6 class="card-subtitle text-muted">Madagascar vue d'en haut</h6>
                </div>
                <img style="height: 600px; width: 100%; display: block;" src="{{ asset('img/mada.jpg') }}" alt="Card image">
                </article>
                </section>
                <section id="cantine">
                    <article class="row">
                        <div class="card mb-3">
                            <h3 class="card-header">Création d'une cantine</h3>
                            <div class="card-body">
                                <h5 class="card-title">Il a recommencé et recommencé. Pratiquement tout les ordinateurs existants furent sous son contrôle. Il ne laissait pas de trace, ne se montrait pas. Et puis, il a découvert les dialogues en direct via Internet, le téléphone, la visio conférence, la domotique...</h5>
                                <h6 class="card-subtitle text-muted">Une cantine à Madagascar</h6>
                            </div>
                            <img style="height: 600px; width: 100%; display: block;" src="{{ asset('img/cantine.jpg') }}" alt="Card image">
                            </article>
                            </section>

                            <section id="fontaine">
                                <article class="row">
                                    <div class="card mb-3">
                                        <h3 class="card-header">Création d'une fontaine à eau</h3>
                                        <div class="card-body">
                                            <h5 class="card-title">Florence est très excitée à l’idée de se brancher sur un réseau militaire, mais en même temps, elle sait que cela va lui apporter des ennuis. Au moins, elle saura. Elle saura si David l’aime. Et en préparant le matériel demandé par Prélude, tout en pensant à David, elle se rappelle comment elle en est arrivée là.</h5>
                                            <h6 class="card-subtitle text-muted">Une fontaine à Madagascar</h6>
                                        </div>
                                        <img style="height: 600px; width: 100%; display: block;" src="{{ asset('img/fontaine.jpg') }}" alt="Card image">
                                        </article>
                                        </section>
                                        <section id="fourniture">
                                            <article class="row">
                                                <div class="card mb-3">
                                                    <h3 class="card-header">Distribution de fourniture scolaire</h3>
                                                    <div class="card-body">
                                                        <h5 class="card-title">Florence est une jeune femme, grande et filiforme. Ses longs cheveux blonds ressemblent aux vagues que forment les blés dans les champs sous l’effet du vent. Et l’on pourrait croire que ses yeux sont des émeraudes trouvés sous les deux petites collines qui masquent une mine d’or : son cœur.</h5>
                                                        <h6 class="card-subtitle text-muted">Des fournitures scolaires</h6>
                                                    </div>
                                                    <img style="height: 600px; width: 100%; display: block;" src="{{ asset('img/fourniture.jpg') }}" alt="Card image">
                                                    </article>
                                                    </section>
                                                    <section>
                                                        <article class="col-lg-6" id="coordonnee">
                                                            <div class="card mb-6">
                                                                <h3 class="card-header">Les coordonnées de l'association </h3>
                                                                <div class="card-body">
                                                                    <h5 class="card-title">L'adresse de l'association</h5>
                                                                    <h6 class="card-subtitle text-muted">Adresse
                                                                    </h6>
                                                                </div>
                                                        </article>
                                                        <article class="col-lg-6" id="message">
                                                            <div class="card mb-6">
                                                                <h3 class="card-header">Pour nous contacter : </h3>
                                                                <div class="card-body">
                                                                    <h5 class="card-title">Si vous souhaitez nous contacter : </h5>
                                                                    <h6 class="card-subtitle text-muted">Veuillez remplir ses champs qui sont obligatoires dans le message :
                                                                        <br>
                                                                        <ul>
                                                                            <li><em>Email</em></li>
                                                                            <li><em>Corps</em></li>
                                                                        </ul></h6>
                                                                </div>
                                                                {% for flash_message in app.session.flashBag.get('info') %}
                                                                    <div class="alert alert-success flash-notice" role="alert">
                                                                        {{ flash_message }}
                                                                    </div>
                                                                {% endfor %}
                                                                <ul>
                                                                </ul>
                                                                <div >
                                                                    {{ form_start(form, {'method': 'post', 'action': path('assoc_homepage'), 'attr': {'class': 'form-group'}}) }}
                                                                    {{ form_row(form.nom) }}
                                                                    {{ form_row(form.prenom) }}
                                                                    {{ form_row(form.email) }}
                                                                    {{ form_row(form.corps) }}
                                                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                                                        {{ form_row(form.Membre, {'attr': {'placeholder': 'Votre message', 'class': 'form-control', 'value': app.user.id}}) }}
                                                                    {% endif %}
                                                                    {{ form_end(form) }}
                                                                </div>
                                                        </article>
                                                    </section>
                                                                <section id="don">
                                            <article class="row">
                                                <h3>Pour soutenir l'association :</h3>
                                                <p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Faire un don</a>
            </p>
                                                    </article>
                                                    </section>
                                                {% endblock %}
