{% extends "::base.html.twig" %}

{% block body %}
{% for flash_message in app.session.flashBag.get('success') %}
<div class="alert alert-success flash-notice" role="alert">
{{ flash_message }}
</div>
{% endfor %}

<div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3 col-sm-12 col-xs-12">
    <h3><em>Pour recevoir la lettre d'information</em></h3>
                {{ form_start(form, {'method': 'post', 'action': path('assoc_inscriptionnewsletter'), 'attr': {'class': 'form-group'}}) }}
                {{ form_row(form.emailabonne) }}
<div>
                <input type="submit" class="btn btn-primary" value="S'inscrire à la newsletter" />
    </div>
                {{ form_end(form) }}
                <a href="{{ path('assoc_homepage') }}"><button type="button" class="btn btn-link">Retour à la page d'accueil</button></a>
</div>

{% endblock %}