{% extends "::base.html.twig" %}
{% block body %}
    <section id="journal">
<h1 class="bienvenue">Le journal de l'association</h1>
<p><a href="{{ path('assoc_homepage') }}"><button type="button" class="btn btn-link">Retour à la page d'accueil</button></a></p>
{% if is_granted("ROLE_ADMIN") %}
{% for flash_message in app.session.flashBag.get('success') %}
<div class="alert alert-success flash-notice" role="alert">
{{ flash_message }}
</div>
{% endfor %}
<p><a href="{{ path('assoc_creerarticles') }}"><button type="button" class="btn btn-primary btn-lg">Créer un article</button></a></p>
{% endif %}

<h4><em>Pour recevoir la lettre d'information</em></h4>
<p>Pour s'inscrire à la newsletter : <a href="{{ path('assoc_inscriptionnewsletter')}}">Cliquer ici</a></p>

{% for article in articles %}
<h2>{{ article.titre }}</h2>
<a href="{{ path('assoc_unarticle', {'id': article.id}) }}">Savoir plus + </a>



{% endfor %}
{% if is_granted("ROLE_ADMIN") %}
<h2><em><a href="{{ path('assoc_listeabonnes') }}">La liste des abonnés</a></em></h2>
{% endif %}
    </section>

{% endblock %}