{% extends "::base.html.twig" %}

{% block body %}
    <h2 class="bienvenue">{{ article.titre }}</h2>
<p id="auteur" class="bienvenue">Par {{ article.auteur }} le {{ article.date|date("d/m/Y") }}</p>
<p class="bienvenue">{{ article.corps }}</p>
<p class="bienvenue"><a href="{{ url('assoc_articlepdf', {'id': article.id}) }}"><button type="button" class="btn btn-lg btn-primary"> Générer l'article en PDF</button></a>
{% if is_granted("ROLE_ADMIN") %}
<a href="{{ path('assoc_editerarticles', {'id': article.id})}}"><button type="button" class="btn btn-warning">Editer</button></a>
<a href="{{ path('assoc_supprimerarticles', {'id': article.id})}}" onclick="return confirm('Êtes-vous sûr de supprimer cet article ?')"><button type="button" class="btn btn-danger">Supprimer</button></a></p>
{% endif %}
<div class="bienvenue alert alert-info">
    <a href="{{ path('assoc_homepage') }}"><button type="button" class="btn btn-link">Retour à la page d'accueil</button></a>
</div>
{% endblock %}
