{% trans_default_domain 'FOSUserBundle' %}
{% block body %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<form action="{{ path("fos_user_security_check") }}" method="post" class="form-group">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <label for="username">{{ 'security.login.username'|trans }}</label>
    <input type="text" id="username" name="_username" class="form-control" value="{{ last_username }}" required="required" />

    <label for="password">{{ 'security.login.password'|trans }}</label>
    <input type="password" id="password" name="_password" class="form-control" required="required" />

    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>

    <div>
    <input type="submit" class="btn btn-success" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
    
    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}"><button type="button" class="btn-social btn-facebook" style="height: 35px"><span class="fa fa-facebook"></span>Se connecter avec Facebook</button></a>  
        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}"><button type="button" class="btn-social btn-google"  style="height: 35px"><span class="fa fa-google"></span>Se connecter avec Google</button></a>
        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'twitter' }) }}"><button type="button" class="btn-social btn-twitter"  style="height: 35px"><span class="fa fa-twitter"></span>Se connecter avec Twitter</button></a> 
    </div>
</form>


<div>
    <a href="{{ path('assoc_homepage') }}"><button type="button" class="btn btn-link">Retour à la page d'accueil</button></a>
</div>
{% endblock %}
